In [10]:
import pandas as pd 
df=pd.read_csv('/scratch/user/zshuying/ppi_mutation/data/2019_1_sequences.csv')

# merge Label and label and discard empty

In [12]:
df.loc[df['Label'].isna(),'Label']=df['label']

In [25]:
df=df.dropna(subset='Label')
df=df.loc[:,['#AlleleID','Label','UniProt','Name','Seq']]

# deal with Seq

In [26]:
# discard * 
df=df.dropna(subset='Seq')

df[['*' in seq for seq in df['Seq'].tolist()]]

,#AlleleID,Label,UniProt,Name,Seq
11304,228118,1.0,P01130,NM_000527.4(LDLR):c.82G>T (p.Glu28Ter),MGPWGWKLRWTVALLLAAAGTAVGDRC*RNEFQCQDGKCISYKWVC...
11306,228122,1.0,P01130,NM_000527.4(LDLR):c.246C>A (p.Cys82Ter),MGPWGWKLRWTVALLLAAAGTAVGDRCERNEFQCQDGKCISYKWVC...
11308,228124,1.0,P01130,NM_000527.4(LDLR):c.253C>T (p.Gln85Ter),MGPWGWKLRWTVALLLAAAGTAVGDRCERNEFQCQDGKCISYKWVC...
11311,228127,1.0,P01130,NM_000527.4(LDLR):c.304C>T (p.Gln102Ter),MGPWGWKLRWTVALLLAAAGTAVGDRCERNEFQCQDGKCISYKWVC...
11314,228133,1.0,P01130,NM_000527.4(LDLR):c.337G>T (p.Glu113Ter),MGPWGWKLRWTVALLLAAAGTAVGDRCERNEFQCQDGKCISYKWVC...
...,...,...,...,...,...
24979,178554,1.0,P15924,NM_004415.3(DSP):c.2821C>T (p.Arg941Ter),MSCNGGSHPRINTLGRMIRAESGPDLRYEVTSGGGGTSRMYYSRRG...
24980,178574,1.0,Q12809,NM_000238.3(KCNH2):c.2230C>T (p.Arg744Ter),MPVRRGHVAPQNTFLDTIIRKFEGQSRKFIIANARVENCAVIYCND...
24981,178578,1.0,Q12809,NM_000238.3(KCNH2):c.685G>T (p.Glu229Ter),MPVRRGHVAPQNTFLDTIIRKFEGQSRKFIIANARVENCAVIYCND...
24990,178913,1.0,P45379,NM_001001430.2(TNNT2):c.861G>A (p.Trp287Ter),MSDIEEVVEEYEEEEQEEAAVEEEEDWREDEDEQEEAAEEDAEAEA...
25000,178946,1.0,P45379,NM_001001430.2(TNNT2):c.319G>T (p.Glu107Ter),MSDIEEVVEEYEEEEQEEAAVEEEEDWREDEDEQEEAAEEDAEAEA...

In [30]:
df['Seq']=df['Seq'].apply(lambda x: x.split('*')[0] if '*' in x else x)

In [32]:
df.to_csv('2019_1_sequences_terminated.csv')

In [ ]:
df['Len']=df['Seq'].apply(lambda x: len(x))

: